version: $(VERSION)(build {build})
skip_tags: true
clone_depth: 1
environment:
  JAVA_HOME: C:\Program Files\Java\jdk21
  VERSION: 0.3.3.2-1.21
  RELEASE_TYPE: release
  MODRINTH_TOKEN:
    secure: whz1rSvaHvbEh/tU/gZSr1yDtw5rEuUhGTNWAcchA+sh2F3zrmv5o4qH1YYAL8qyCLqOBJFlTrT/Yjco5/NHJI8UTmtLwDpbZRVJn3pF674= #有效期至2025-10-17
  CURSEFORGE_API_KEY:
    secure: +FY0Vsp+IhDmayrqsjt/MbDCRDB9v5hb/BhjPK1oC+yvxytK7RaSNp2cld7Z80iX #无限期有效（？
cache:
  - C:\Users\appveyor\.gradle\caches\fabric-loom
  - C:\Users\appveyor\.gradle\caches\modules-2
build_script:
  - cmd: >-
      gradlew build --no-daemon
      
      gradlew curseforge --no-daemon
      
      gradlew modrinth --no-daemon
      
      gradlew modrinthSyncBody --no-daemon
artifacts:
  - path: .\build\libs\UltimateScaler-$(VERSION).jar
    name: UltimateScaler-$(VERSION).jar
  - path: .\build\libs\UltimateScaler-$(VERSION)-sources.jar
    name: UltimateScaler-$(VERSION)-sources.jar
deploy:
  - provider: GitHub
    tag: v$(VERSION)
    release: $(VERSION)
    description: '## 0.3.3.2 - 2025-9-17\n\n### 漏洞修复 | Bug Fixes\n\n- 修复了在Minecraft 1.21.2至1.21.5版本无法启动的问题。 | Fixed that the mod could not launch properly in versions 1.21.2 to 1.21.5 of Minecraft.\n- 修复了Modrinth上未正确标识支持的游戏版本的问题。 | Fixed that the supported game versions on Modrinth were not correctly identified.'
    auth_token:
      secure: mIxbyFSpUuMyOA9YhYQO586jIfX1Al1bt3VTMQ9bDsIf7aG/xBbmjVewvgHU7DQCTULnoV4rCfWc846u1WG6lnTt5EFGBpBaytTDdxbLjRvfVIZeg3g5+T17Lk22M/Nx #有效期至2025-10-17
    artifact: UltimateScaler-$(VERSION).jar
    draft: false
    prerelease: false
